################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Utility基础类大全/.vs/Common.Utility/v16/Server/sqlite3/db.lock
/src/Common.Utility/.vs/Common.Utility
/src/Utility基础类大全/.vs/Common.Utility
*.lock
/src/Common.Utility_EN/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/src/Common.Utility_EN/obj/Debug/Common.Utility.csproj.AssemblyReference.cache
/src/Common.Utility_EN/.vs/Common.Utility/v17/fileList.bin
/src/Common.Utility_EN/.vs/Common.Utility/v17/.suo
/src/Common.Utility_EN/.vs/Common.Utility/v17/TestStore/0/testlog.manifest
/src/Common.Utility_EN/.vs/Common.Utility/v17/TestStore/0/000.testlog
